<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pragmaproductsfacilities</name>
    <displayName><![CDATA[Products Facilities]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Display bloc of facilities payement to products]]></description>
    <author><![CDATA[LaModeTeam]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall my module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>