.category-list {
    margin-top: 2.5rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.category-wrapper {
    display: inline-block;
    text-align: center;
    margin: 0 10px; /* Adjust the spacing between categories */
}

.category-image {
    position: relative;
}

.category-image img {
    display: block;
    max-width: 100%;
}

.category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-name > h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
}
